In [2]:
import numpy as np 
import pandas as pd
from pandas import DataFrame,Series
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
tf=pd.read_csv('bookings.csv.bz2',sep='^', usecols=["arr_port","pax"],nrows=1e5)

In [4]:
df_def=tf.groupby("arr_port").sum()

In [42]:
top=df_def.sort("pax",ascending=False).reset_index().head(10)
top

   arr_port   pax
0  LHR       1006
1  MCO        861
2  JFK        795
3  LAX        761
4  BKK        747
5  LAS        732
6  SFO        705
7  ORD        686
8  CDG        676
9  DXB        587

In [12]:
from GeoBases import GeoBase

In [16]:
g = GeoBase(data='ori_por', verbose=False)

In [17]:
g.get('MUC')['name']

'Munich International Airport'

In [43]:
countries=top.arr_port.apply(lambda a : g.get(a.strip())['country_name'])

In [45]:
cities = top.arr_port.apply(lambda a : g.get(a.strip())['city_name_ascii'])

In [46]:
top["country"]=countries
top["cities"]=cities

In [47]:
top

   arr_port   pax               country         cities
0  LHR       1006        United Kingdom         London
1  MCO        861         United States        Orlando
2  JFK        795         United States  New York City
3  LAX        761         United States    Los Angeles
4  BKK        747              Thailand        Bangkok
5  LAS        732         United States      Las Vegas
6  SFO        705         United States  San Francisco
7  ORD        686         United States        Chicago
8  CDG        676                France          Paris
9  DXB        587  United Arab Emirates          Dubai